<nav class="top">
    <ul>
        <li><a href="/today">몇시에요</a></li>
        <li><a href="/picture">내사진</a></li>
        <li><a href="/introduce">자기소개</a></li>
        <li><a href="/">홈</a></li>
    </ul>
</nav>
