<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자기소개</title>

    <link rel="stylesheet" href="css/introduce.css">
</head>
<body>
{{>header}}

<div class="center">
    <h2>이런 것을 좋아해요</h2>
    <p>
        스케이트 보드 타기!<br/>
    </p>

    <h2>나의 포트폴리오</h2>
    <p>기술 스택 : 스프링부트,JAVA,MySQL</p>

    <p>조금 할 줄 아는 것 : 알고리즘 문제 풀기, 웹 개발</p>

</div>

{{>footer}}
</body>
</html>