<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자기소개</title>

    <link rel="stylesheet" href="css/introduce.css">
</head>
<body>
<nav class="top">
    <ul>
        <li><a href="/aboutme/today">몇시에요</a></li>
        <li><a href="picture.mustache">내사진</a></li>
        <li><a href="introduce.mustache">자기소개</a></li>
        <li><a href="index.mustache">홈</a></li>
    </ul>
</nav>

<div class="center">
    <h2>이런 것을 잘해요</h2>
    <p>
        체스,테니스를 경험이 적은 분들보단 잘 하는 편입니다.<br /> 알고리즘 문제를 푸는 것도 잘 하진 못해도 좋아했었습니다.
        최근엔 피곤해서 잘 못하겠습니다.<br />
    </p>

    <h2>나의 포트폴리오</h2>
    <p>기술 스택 : 스프링부트,JAVA,MySQL</p>

    <h2>나의 최근 프로젝트 설명</h2>
    <p>
        진행한 프로젝트는 스프링부트 웹 서비스입니다. 간단한 게시판은 많이 만들어봤지만 좀 더 복잡한 어플리케이션 개발 경험, 협업
        경험이 부족하다고 생각했습니다.<br /> 그래서 팀원을 모집하여 프로젝트를 진행했습니다.
    </p>
</div>

<footer>
    myungroon@nts-corp.com <br />
    https://gitlab.edwith.org/nts-2021-4th-team4/test
</footer>
</body>
</html>