<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사진</title>

    <link rel="stylesheet" href="css/picture.css">
</head>
<body>
<nav class="top">
    <ul>
        <li><a href="/aboutme/today">몇시에요</a></li>
        <li><a href="picture.mustache">내사진</a></li>
        <li><a href="introduce.mustache">자기소개</a></li>
        <li><a href="index.mustache">홈</a></li>
    </ul>
</nav>

<div class="center">
    <p>
        <img src="/static/img/sample.png">
    </p>
</div>

<footer>
    auddl0756@github.com <br />
</footer>
</body>
</html>