<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{>header}}
<div style="margin-left : 50%">
    {{nowTime}}
</div>

{{>footer}}

</body>
</html>